@font-face {

    font-family: 'SF Pro Display';
    src: url('../assets/fonts/SF-Pro-Display-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;

}

@font-face {

    font-family: 'SF Pro Display';
    src: url('../assets/fonts/SF-Pro-Display-RegularItalic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;

}

@font-face {

    font-family: 'SF Pro Display';
    src: url('../assets/fonts/SF-Pro-Display-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;

}

@font-face {

    font-family: 'SF Pro Display';
    src: url('../assets/fonts/SF-Pro-Display-Semibold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;

}

@font-face {

    font-family: 'SF Pro Display';
    src: url('../assets/fonts/SF-Pro-Display-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;

}

@font-face {

    font-family: 'SF Pro Display';
    src: url('../assets/fonts/SF-Pro-Display-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background-color: #121415;
    color: #f5fbef;
    font-family: 'SF Pro Display', -apple-system, BlinkMacSystemFont, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
}

html, body, #root {

    scroll-behavior: smooth !important;
    scroll-padding-top: 80px;

}